<c-row class="pb-3">
  <c-col xs="3">
    <input
      cFormControl
      placeholder="Search..."
      name="search"
      [formControl]="searchCtrl"
    />
  </c-col>
</c-row>

<app-table>
  <thead cTableColor="light">
    <tr class="text-center">
      <th class="text-center">No</th>
      <th>Logo</th>
      <th>Community Name</th>
      <th>Description</th>
      <th>DateCreation</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let community of communityList; let i = index">
      <tr class="text-center" *ngIf="community.Id">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          <img
            class="avatar-img"
            [src]="community.logoImg"
            onerror="this.onerror=null;this.src='/assets/img/avatars/placeholder-user.png';"
          />
        </td>
        <td>{{ community.CommunityName }}</td>
        <td>
          {{ community.CommunityDescription }}
        </td>
        <td>{{ community.creationDate | date : "d-MM-YYYY" }}</td>
        <td>
          <c-badge color="danger" (click)="approveCommunity(community.Id, 'Y')"
            >UnApprove</c-badge
          >
        </td>
        <td>
          <button
            class="bg-transparent border-0"
            size="sm"
            (click)="deleteCommunity(community.Id)"
          >
            <svg cIcon name="cil-trash" size="md"></svg>
          </button>
        </td>
      </tr>
    </ng-container>
  </tbody>

  <h6 *ngIf="!communityList.length" class="text-center p-5 m-0">
    No community available
  </h6>
</app-table>
<app-pagination
  [items]="pagination?.totalItems"
  (onPageChange)="onPageChange($event)"
/>

<c-toaster [placement]="'top-end'" class="p-3" position="fixed">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    class="text-bg-{{ type }}"
  >
    <c-toast-header>
      <toast-sample-icon></toast-sample-icon>
    </c-toast-header>
    <c-toast-body>
      <p class="text-white">{{ message }}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
