<c-card class="app-user mb-3">
  <c-card-header class="p-0 border-0">
    <c-nav variant="tabs" class="m-0 p-0">
      <a
        [active]="true"
        [cTabContent]="tabContent"
        [routerLink]
        [tabPaneIdx]="0"
        cNavLink
        >Un Suspended Users</a
      >
      <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink
        >Suspended Users</a
      >
      <a></a>
    </c-nav>
  </c-card-header>

  <c-card-body>
    <c-tab-content #tabContent="cTabContent">
      <c-tab-pane>
        <app-un-suspended-user />
      </c-tab-pane>

      <c-tab-pane>
        <app-suspended-user />
      </c-tab-pane>
    </c-tab-content>
  </c-card-body>
</c-card>
