<div class="bg-light flex-row align-items-center min-vh-100">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Community Name</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.CommunityName"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Description</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.CommunityDescription"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
    <c-row class="justify-content-center">
      <c-col md="6" class="d-grid">
        <label>Logo</label>
        <!-- <c-avatar
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.profileId"
          type="text"
          disabled
        /> -->
        <img [src]="communityDetails.logoImg" />
        <!-- <c-avtar></c-avtar> -->
      </c-col>
      <c-col md="6" class="d-grid">
        <label>Cover Image</label>
        <!-- <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.AccountType"
          type="text"
          disabled
        /> -->
        <img [src]="communityDetails.coverImg" />
      </c-col>
    </c-row>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Is Approve</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.isApprove"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Creation Date</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.creationDate"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
    <h3>User Deatils</h3>
    <c-row class="justify-content-center">
      <c-col md="6">
        <label>Username</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.Username"
          type="text"
          disabled
        />
      </c-col>
      <c-col md="6">
        <label>Email</label>
        <input
          cFormControl
          name="uname"
          [(ngModel)]="communityDetails.Email"
          type="text"
          disabled
        />
      </c-col>
    </c-row>
    <c-row class="justify-content-center mt-2">
      <c-col md="12">
        <label for="">Make Community Admin</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select user'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
        </ng-multiselect-dropdown>
      </c-col>
    </c-row>
    <c-row class="float-end mt-3">
      <button cButton color="primary" (click)="saveChanges()">Save changes</button>
    </c-row>
  </c-container>
</div>
